---
import Layout from "../layouts/Page.astro";
import { getArticles, getSiteSettings } from "../lib/api";
// const settings = await getSiteSettings();
const articles = await getArticles();
---

<Layout>
  <main>
    <h1>DN Spesialer</h1>
    <ol>
      {
        articles.map((article) => (
          <li>
            <a href={article.url} target="_blank">
              <h2>{article.title}</h2>
              <p>{article.lead}</p>
            </a>
          </li>
        ))
      }
    </ol>
  </main>
</Layout>
